#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
        // ---------------------------------------------------------------------------------------	-----------------------------------------------------------------------------
        // Default layer, pretty standar
        //   |   ESC   |    Q    |    W    |    E    |    R    |    T    |                       |    Y    |    U    |    I    |    O    |    P    |  BSPC  |
        //   |   TAB   |    A    |    S    |    D    |    F    |    G    |                       |    H    |    J    |    K    |    L    |    ;    |    '   |
        //   |  RALT   |    Z    |    X    |    C    |    V    |    B    |  none   |   | Play/P  |    N    |    M    |    ,    |    .    |    -    |  ENTER |
        //                                 |  WinTab | NumLayer|  BSPC   |  LCRTL  |   |  SHIFT  |  SPACE  |   SymLayer |   none  |
        // (5 way)     
            bindings = <
                &bt BT_CLR_ALL  &kp Q    &kp W    &kp E     &kp R     &kp T                                 &kp Y     &kp U       &kp I      &kp O     &kp P          &bt BT_CLR_ALL
                &kp TAB         &kp A    &kp S    &kp D     &kp F     &kp G                                 &kp H     &kp J       &kp K      &kp L     &kp O          &kp A
                &kp LCTRL       &kp Z    &kp X    &kp C     &kp V     &kp B      &none     &none            &kp N     &kp M       &kp COMMA  &kp DOT   &kp MINUS      &kp ENTER    
                                                  &kp LALT  &kp 1     &kp BSPC   &sk LCTRL &kp RSHIFT       &kp SPACE &kp 2       &kp BSPC
                                 &none                                                                                  &none
                           &none &none  &none                                                                    &none  &none  &none
                                 &none                                                                                  &none
                    >;
        };
    };
};




                                              