#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "keys_nb.h"

#define DEFAULT 0
#define NAV   1
#define SYM   2

/ {    
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp ESC       &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P        &kp NB_A_RING
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp TAB       &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L         &kp NB_AE    &kp NB_O_SLASH
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &sk LCTRL     &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp NB_COMMA  &kp NB_DOT    &kp NB_MINUS  &kp RCTRL
        // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                                       &kp LALT      &mo NAV       &kp LSHFT         &kp SPACE     &mo SYM       &kp BSPC
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

            >;
        };

        nav_layer {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &none         &none         &none         &none         &none         &none             &kp PG_UP      &kp HOME     &kp UP        &kp END       &kp PSCRN     &kp C_MUTE
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &none         &none         &kp LALT      &kp LSHFT     &kp LCTRL     &none             &kp PG_DN      &kp LEFT     &kp DOWN      &kp RIGHT     &none         &kp C_VOL_UP
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &none         &none         &none         &none         &none         &none             &none          &none        &none         &none         &none         &kp C_VOL_DN
        // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                                       &none         &none         &none             &none         &none         &trans
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

            >;
        };

        sym_layer {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &none         &kp NB_GT     &kp NB_RBKT   &kp NB_RBRC   &kp NB_RPAR   &kp NB_BSLH       &kp NB_PIPE   &kp NB_AMPS   &kp NB_EXCL   &kp NB_QMARK  &kp NB_GRAVE  &kp NB_TILDE
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &none         &kp NB_LT     &kp NB_LBKT   &kp NB_LBRC   &kp NB_LPAR   &kp NB_FSLH       &kp NB_GT     &kp NB_EQUAL  &kp NB_MINUS  &kp NB_PLUS   &kp NB_STAR   &none
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &none         &none         &none         &none         &none         &none             &kp NB_AT     &kp NB_HASH   &kp NB_DLLR   &kp NB_PRCNT  &none         &none
        // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                                       &none         &none         &none             &none         &none         &trans
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

            >;
        };
    };
};




                                              
