#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "keys_nb.h"

/ {    
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
        // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
        //   |   ESC   |    Q    |    W    |    E    |    R    |    T    |                       |    Y    |    U    |    I    |    O    |    P    |    Å    |
        //   |   TAB   |    A    |    S    |    D    |    F    |    G    |                       |    H    |    J    |    K    |    L    |    Ø    |    Æ    |
        //   |  CTRL   |    Z    |    X    |    C    |    V    |    B    |                       |    N    |    M    |    ,    |    .    |    -    |   CTRL  |
        //                                 |  none   |   ALT   |   Nav   |  SHIFT  |   |  SPACE  |   Sym   |   BSPC  |   none  |   
            bindings = <
                &kp ESC      &kp Q    &kp W    &kp E     &kp R     &kp T                             &kp Y     &kp U     &kp I         &kp O       &kp P         &kp NB_A_RING
                &kp TAB      &kp A    &kp S    &kp D     &kp F     &kp G                             &kp H     &kp J     &kp K         &kp L       &kp NB_AE     &kp NB_O_SLASH
                &sk LCTRL    &kp Z    &kp X    &kp C     &kp V     &kp B                             &kp N     &kp M     &kp NB_COMMA  &kp NB_DOT  &kp NB_MINUS  &kp RCTRL    
                                                         &kp LALT  &none    &kp LSHFT     &kp SPACE  &none     &kp BSPC
            >;
        };
    };
};




                                              